<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./form.component.css">

  <title>Document</title>
</head>
<body>
  <div class="registration-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="form-icon">
      <span><i class="icon icon-user"></i></span>
    </div>
    
    <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" placeholder="Insira seu nome" class="form-control item" id="name" formControlName="name" required>
        <div *ngIf="form.get('name')?.errors?.['required'] && form.get('name')!.touched" class="alert alert-danger">Nome é obrigatório</div>
    </div>

    
  
    <div class="form-group">
  
        <label for="email">Email:</label>
        <input type="email" placeholder="Insira seu Email" class="form-control item" id="email" formControlName="email" required>
        <div *ngIf="form.get('email')?.errors?.['required'] && form.get('email')!.touched" class="alert alert-danger">Email é obrigatório</div>
        <div *ngIf="form.get('email')?.errors?.['email']&& form.get('email')!.touched" class="alert alert-danger">Formato de email inválido</div>
      </div>
  
  
    <div class="form-group">
  
        <label for="date">Data de Nascimento:</label>
        <input type="date" class="form-control item"  id="birth-date" formControlName="dateOfBirth" required>
        <p *ngIf="form.get('dateOfBirth')?.errors?.['required'] && form.get('dateOfBirth')!.touched" class="alert alert-danger">
          A data de nascimento é obrigatória.
        </p>
        <p *ngIf="form.get('dateOfBirth')?.errors?.['invalidAge'] && form.get('dateOfBirth')!.touched" class="alert alert-danger">
          A idade mínima é de 18 anos.
        </p>
      </div>
    

    <div class="form-group">
      <label for="nif">NIF:</label>
      <input type="text"  placeholder="Insira o NIF" class="form-control item" formControlName="nif" required>
      <div *ngIf="form.get('nif')?.errors?.['required'] && form.get('nif')!.touched" class="alert alert-danger">
        O campo NIF é obrigatório.
      </div>
      <div *ngIf="form.get('nif')?.errors?.['validateNIF'] && form.get('nif')!.touched" class="alert alert-danger">
        O NIF deve conter exatamente 9 dígitos numéricos.
      </div>
      <div *ngIf="form.get('nif')?.errors?.['invalidNifCheckDigit'] && form.get('nif')!.touched" class="alert alert-danger">
        O NIF é inválido.
      </div>
  
    </div>

    <div class="form-group">
      <label for="country">País:</label>
      <select class="form-control country" id="country" placeholder="Insira o NIF" formControlName="country" (change)="onCountryChange()">
        <option value="" disabled selected>Selecione o país</option>
        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
      </select>
      <div *ngIf="form.get('country')?.errors?.['required'] && form.get('country')!.touched" class="alert alert-danger">País é obrigatório</div>
    </div>
    
    <div class="form-group">
      <label for="city">Cidade:</label>
      <select class="form-control country" id="city" formControlName="city">
        <option value="" disabled selected>Selecione a cidade</option>
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select>
      <div *ngIf="form.get('city')?.errors?.['required'] && form.get('city')!.touched" class="alert alert-danger">Cidade é obrigatória</div>
    </div>
   
    <div class="form-group">
      <label for="postalCode">Código Postal:</label>
      <input type="text" id="postalCode" placeholder="Insira o Código Postal" class="form-control item" 
        formControlName="postalCode"
        required>
      <button type="button" class="btn btn-block validate-zip col-sm-6" (click)="validatePostalCode()" *ngIf="isCountryPortugal()">Validar Código Postal</button>
      <div *ngIf="form.get('postalCode')?.errors?.['required'] && form.get('postalCode')!.touched" class="alert alert-danger">
        O campo Código Postal é obrigatório.
      </div>
      <div *ngIf="isCountryPortugal() && isPostalCodeValid === true && form.get('postalCode')!.touched" class="alert alert-success">
        Código Postal válido.
      </div>
      <div *ngIf="isCountryPortugal() && isPostalCodeValid === false && form.get('postalCode')!.touched" class="alert alert-danger">
        O Código Postal é inválido para Portugal.
      </div>
    </div>
    
    <div class="form-group">
        <label for="address">Endereço:</label>
        <input type="text" placeholder="Insira seu Endereço" class="form-control item" id="address" formControlName="address" required>
        <div *ngIf="form.get('address')?.errors?.['required'] && form.get('address')!.touched" class="alert alert-danger">Endereço é obrigatório</div>
      </div>
  
  
      <div class="form-group">
        <label for="number">Contato telefônico</label>
        <input type="text" formControlName="phoneNumber" id="phone-number"
          placeholder="Insira seu Contato" class="form-control item" required>
      
        <div *ngIf="form.get('phoneNumber')?.errors?.['required'] && form.get('phoneNumber')!.touched" class="alert alert-danger">
          O Telefone é obrigatório.
        </div>
        <div *ngIf="form.get('phoneNumber')?.errors?.['invalidPhone'] && form.get('phoneNumber')!.touched" class="alert alert-danger">
          Telefone inválido. Deve conter 9 dígitos e começar com 3, 2 ou 9.
        </div>
      </div>


    <div class="form-group">
      <button type="button" class="btn btn-block create-account" [disabled]="isFormIncomplete()" (click)="onSubmit()">
        Enviar Formulário
      </button>
    </div>

    <div *ngIf="formSubmitted" class="alert alert-success">
      Formulário enviado.
    </div>
  </form>

</div>
</body>
</html>


