
form {
    background-color: whitesmoke;
    
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .invalid-date input[type="date"] {
    border: 1px solid red;
  }


  .invalid-date {
    border-left: 5px solid #FF0000; /* red */
  }
  
  .valid-date {
    border-left: 5px solid #42A948; /* green */
  }